[Unit]
Description=Magpie IPv6 relay service
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
ExecStart=/bin/bash -c "/usr/bin/magpie $((cat /etc/magpie.conf 2>/dev/null || echo --help) | xargs)"

[Install]
WantedBy=multi-user.target
